.pagination {
    display: flex;
    flex-direction: row;
    width: 70px;
    justify-content: space-between;
    &-previous {
        cursor: pointer;
    }
    &-next {
        cursor: pointer;
    }
}