.register-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-navbar {
        top: 0;
    }
    &-center {
        margin-top: 7%;
        h1 {
            padding: 20px 0 20px 0;
            margin-bottom: 50px;
            text-align: center;
        }
        &-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: black 3px dotted;
            min-height: 35vh;
            max-width: 40vw;
            &-top {
                h3 {
                    padding: 20px 0 20px 0;
                }
            }
            &-center {
                width: 80%;
                padding-bottom: 40px;
                &-form {
                    &-row {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        &-field {
                            padding: 10px 20px 10px 20px;
                            width: 100%;
                            input {
                                font-family: secondaryFont;
                                font-size: 14px;
                                letter-spacing: 2px;
                            }
                        }
                    }
                    &-questions {
                        padding: 20px 0 20px 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        font-size: 12px;
                        &-each {
                            width: 40%;
                            text-align: left;
                            &-right {
                                width: 40%;
                                text-align: right;
                            }
                        }
                    }
                    &-button {
                        margin: 0 auto;
                        justify-content: center;
                        border: none;
                        width: 200px;
                        height: 50px;
                        border: 1px solid black;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

h6 {
    font-size: 12px;
}

span {
    font-weight: bolder;
    color: rgb(189, 0, 0);
    cursor: pointer;
    margin-left: 5px;
    font-size: 12px;
}

.input-error {
    color: rgb(214, 0, 0);
    font-size: 11px;
    font-weight: bolder;
}

.navlink {
    color: rgb(146, 0, 0);
    text-decoration: none;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 1s;
}

@media (max-width: 1600px) {
    .register-content {
        &-center {
            &-box {
                max-width: 80vw;
            }
        }
    }
}

@media (max-width: 1024px) {
    .register-content {
        &-center {
            &-box {
                margin: 0 auto;
                max-width: 90vw;
            }
        }
    }
}

@media (max-width: 768px) {
    .register-content {
        &-center {
            &-box {
                max-width: 90vw;
            }
        }
    }
}

@media (max-width: 480px) {}