@import "./assets/fonts/pokemonClassic.ttf";
@font-face {
    font-family: mainFont;
    src: url("./assets/fonts/pokemonClassic.ttf");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(245, 245, 245, 0.562);
    font-family: mainFont;
}

textarea:focus,
input:focus {
    outline: none;
}

input {
    font-family: mainFont;
    font-size: 20px;
    width: 100%;
}

button {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: mainFont;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}