.container {
    position: absolute;
    width: 10px;
    z-index: 100;
}

.redcirc {
    background-color: rgb(168, 0, 0);
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 300px 300px 0 0;
    border: 20px solid rgb(32, 32, 32);
    margin: auto;
    top: -120px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.clic {
    background-color: white;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 7px solid rgb(32, 32, 32);
    top: 125px;
    left: 115px;
    z-index: 2;
}

.cli2 {
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid rgb(32, 32, 32);
    position: absolute;
    top: 12px;
    left: 12px;
}

.whitecirc {
    background-color: white;
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 0 0 300px 300px;
    border: 20px solid rgb(31, 31, 31);
    margin: auto;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 0;
}

.redcirc {
    animation-name: increase;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.whitecirc {
    animation-name: increase;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes increase {
    from {
        transform: scale(0.7);
    }
    to {
        transform: (0.7);
    }
}